# By default ignore
**/*

# Root files
!LICENSE
!Makefile
!go.mod
!go.sum

# private packages
!/internal
!/internal/**/*

# main binaries
!/cmd
!/cmd/**/*

# API rest specifications
!/api
!/api/**

# Grafana dashboard
!/dashboards
!/dashboards/**/*

# Scripts
!/scripts
!/scripts/**/*

# Configs
!/configs
!/configs/**/*

# tools/bin
!/tools
!/tools/**/*
/tools/bin

