# By default ignore
**/*

# Root files
!LICENSE
!Makefile
!go.mod
!go.sum

# private packages
!/internal
!/internal/**/*

# main binaries
!/cmd
!/cmd/**/*

# API rest specifications
!/api
!/api/**

# Conainer build definitions
!/build
!/build/**/*

# Graphana dashboard
!/dashboards
!/dashboards/**/*

# Deployment resources
!/deployments
!/deployments/**/*

# Scripts
!/scripts
!/scripts/**/*

# Tools
!/tools
!/tools/**/*
/tools/bin

# Configs
!/configs
!/configs/**/*

